{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>
    <form action="" method="post">
        <div class="row text-left">
            <div class="col offset-2">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-7 offset-2">
                <input type="submit" class="btn btn-primary btn-block" value="Сохранить">
            </div>
        </div>
    </form>
</div>
{% endblock %}