{% extends 'base.html' %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{ pagename }}</h1>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-8 offset-2">
            Список сниппетов:
            <div class="col">
                <table class="table table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Название</th>
                        <th scope="col">Дата создания</th>
                        <th scope="col">Язык</th>
                        <th scope="col">Автор</th>
                        {% if edit %}<th></th>{% endif %}
                        {% if delete %}<th></th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for snippet in snippets %}
                    <tr>
                        {% load tz %}
                        <td scope="row">{{ snippet.id }}</td>
                        <td><a href="{% url 'page-snippet' snippet.id %}">{{ snippet.name }}</a></td>
                        <td>{{ snippet.creation_date|timezone:USER_TZ }}</td>
                        <td>{{ snippet.lang }}</td>
                        <td>{{ snippet.user|default:'Неизвестно' }}</td>
                        {% if edit %}<td><a href="{% url 'edit-snippet' snippet.id %}">M</a></td>{% endif %}
                        {% if delete %}<td><a href="{# {% url 'delete-snippet' snippet.id %} #}">D</a></td>{% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div align="right">
                    <i style="color: gray;">Всего сниппетов: {{ snippets.count }}</i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}}
